button {
    margin: 10px;
    /* padding: 8px; */
    width: 220px;
}
.user-form {
    width: 220px;
}
#user-form {    
    margin: 10px;
}
p {
    margin: 10px;
}
.hiden {
    display: none;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.mafia-new{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -15px;
}
li {
    margin-left: 5px;
}
input[type = "checkbox"] {
    margin: 5px;
}
label {
    margin-top: 6px;
}
.button-plus-user {
    margin-top: 3px;
    width: 40px;
}
.help-form-name {
    margin: 0px;
    width: 85px;
    position: absolute;
        top: 3px;
        left: 56px;
}
#help-role-pole {
    position: absolute;
        top: -23px;
        left: 82px;
}
/* .hiden_2 {
    visibility: hidden;
} */