button {
    margin: 10px;
    /* padding: 8px; */
    width: 225px;
}
.user-form {
    width: 220px;
}
#user-form {    
    margin: 10px;
}
p {
    margin: 10px;
}
.hiden {
    display: none;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.mafia-new{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -15px;
}
.btn-group li {
    margin-left: 5px;
}
input[type = "checkbox"] {
    margin: 5px;
}
label {
    margin-top: 6px;
}
.button-plus-user {
    margin-top: 3px;
    width: 35px;
}
.help-form-name {
    margin: 0px;
    width: 85px;
    position: absolute;
        top: 75px;
        left: 48px;
}
#help-role-pole {
    width: 100px;
    position: absolute;
        top: -23px;
        left: 76px;
}
/* .hiden_2 {
    visibility: hidden;
} */
.logo-navbar {
    width: 40px;
    transition: 1s;
}
.logo-navbar:hover {
    transition: 1s;
    transform: rotate(360deg)
}
.navbar {
    font-size: 12pt;
}